body{
    background-image: url(./kul-sharif-mosque-in-kazan-kremlin-at-sunset-826963064-59a61fe6519de2001045eed5.jpg);
    background-size: cover;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 20px;

 
}

#mainheading{
text-align: center;
font-size: 70px;
color: rgb(255, 255, 255);
 /* font-size: 70px ; */
 color: rgb(255, 254, 253);
 font-style: italic;
 padding: 20px;
 font-size: 70px;
 background-color: rgba(100, 100, 100, 0.5) ;
 /* text-shadow: 40px 40px 40px grey; */
 box-shadow: 5px 5px 5px grey;
 /* opacity: 0.5; */


}

.timingBox{
    font-family: sans-serif;
    color: aliceblue;

}

#mainheading3{
    text-align: center;
font-size: 70px;
color: rgb(255, 255, 255);
 /* font-size: 70px ; */
 color: rgb(255, 254, 253);
 font-style: italic;
 padding: 20px;
 font-size: 70px;
 background-color: rgba(100, 100, 100, 0.5) ;
 /* text-shadow: 40px 40px 40px grey; */
 box-shadow: 5px 5px 5px grey;
 /* opacity: 0.5; */

}
input{
    background-color: gray;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border: 3px solid white;
    /* box-shadow: 5px 5px 5px gray; */
    border-radius: 25px;

}

input::placeholder{
    color: aliceblue;
}

.times{
    display: flex;
    justify-content: center;
}